trampoline-env.toml
target/*
.trampoline/network/*
!.trampoline/network/indexer
.trampoline/network/indexer/!.gitkeep
.trampoline/accounts/*
!.trampoline/accounts/.gitkeep
.trampoline/cache/*
!.trampoline/cache/.gitkeep

# Rust
scripts/iamm_nft/target/*
scripts/iamm_nft/.cache/.cargo/*
scripts/iamm_nft/contracts/**/target/*

# C
scripts/iamm_nft/contracts/c/build/*

# others
scripts/iamm_nft/build/*
scripts/iamm_nft/!.gitkeep
scripts/iamm_nft/.tmp/
